@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
} */

@layer base {
  html {
    @apply bg-gradient-to-r from-slate-900 to-slate-700;
    /* background-color: rgba(27, 38, 54, 1); */
    color: white;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  
  body {
    margin: 0;
    color: white;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }

}
